
.title {

    text-align: center;
    color: #000;
}

.subtitle{
    text-align:center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}



.subcategoryTitle{
    display:inline;
    margin-right: 1rem;    
    


    a{
        text-decoration: none;
        
        
    }

    a:hover{
        text-decoration: underline;
     
    }

.subcategoryLink {

    display: inline-block;

}
        
}


