.breadCrumb{

    a{
        background-color: #000;
        padding: 5px;
        color:#fff;
        text-decoration: none;
        
    }

    a:hover {
        text-decoration: underline;
    }
    
    margin-bottom: 4rem;

    span{
        
        margin: 0 0.5rem;         
        
    }

}


.toc {

    position: fixed;
    top: 20%;
    right: 5%;
    border-left: 2px solid #eee;
    display:block;
    width: 300px;
    max-height: 50vh;
    overflow: auto;
    font-size: 0.95rem;

    p {
        text-align: center;
       font-size: 1rem;
    }
    
    ul{
        list-style-type: none;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    .depth3 {

        a{
    
            color: #444;
            font-size: 0.85rem;
            margin-left: 1rem;
            
        }
        
        
    }

}



.header {

    text-align:center;

    h1{
        color: #000;
        margin-bottom: 1rem;
    }

    margin-bottom: 4rem;
}

.content {

    h2 {

        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    h3 {

        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    p{
        text-align: justify;
        text-indent: 2ch;
    }

    a:hover{
        text-decoration: none;
    }

   
}

