.content {


    h1{

        text-align: center;
        color: #000;
        margin-bottom: 3rem;
    }

    h3{

        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    p,li {

        text-align: justify;

    }
}